{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}"  >
    <title>registration form</title>
</head>
<body>
<div class="main">
<div class="register">
    <h2>Registration form</h2>
    <form id="register" method="post">
    <label>First Name:</label>
    <br>
    <input type="text" name="fname" id="name" placeholder="Enter your First name">
    <br><br>
    <label>Last Name:</label>
    <br>
    <input type="text" name="lname" id="name" placeholder="Enter your Last name">
    <br><br>
    <label>Your Age</label>
    <br>
    <input type="number" name="age" id="name" placeholder="How old are you?">
    <br><br>
    <label>Email:</label>
    <br>
    <input type="email" name="email" id="name" placeholder="Enter your Valid email">
    <br><br>
    <label>Gender:</label>
    <br>
    &nbsp;&nbsp; &nbsp;
    <input type="radio" name="gender" id="male">
    &nbsp;
    <span id="male">Male</span>
    &nbsp;&nbsp; &nbsp;&nbsp;
    <input type="radio" name="gender" id="female">
    &nbsp;
    <span id="female">Female</span>
    <br><br>
    <label>Known language: </label>
    <br>
    &nbsp;&nbsp; &nbsp;
    <input type="checkbox" name="lang" id="hindi">
    &nbsp;
    <span id="hindi">Hindi</span>
    &nbsp;&nbsp; &nbsp;&nbsp;
    <input type="checkbox" name="lang" id="eng">
    &nbsp;
    <span id="eng">English</span>
    &nbsp;&nbsp; &nbsp;&nbsp;
    <input type="checkbox" name="lang" id="franch">
    &nbsp;
    <span id="fra">franch</span>
    <br><br>
   
    <button type="submit" value="Submit" name="submit" id="submit>">Submit</button>
    </form>
</div>
</div>
</body>
</html>