<!-- start header area-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/headerresponsive.css' %}"  >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"  >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"  >

    
    
</head>
<body>
    <nav>
        <div class="logo">NewOne <i class="fa-solid fa-globe"></i></div>
        <input type="checkbox" id="click">        
        <label for="click"  class="menu-btn">
        <i class="fa-solid fa-check-double"></i>
        </label>
        
        
        <ul>
            <li><a class="active" href="/"><h3>Home</h3></a></li>
            <li><a href="about"><h3>about</h3></a></li>
            <li><a href="service"><h3>service</h3></a></li>
            <!--<li><a href="career"><h3>career</h3></a></li>-->
            <li><a href="contact"><h3>contact</h3></a></li>
            <li><a href="userformget"><h3>userformget</h3></a></li>
            <li><a href="register"><h3>Register</h3></a></li>
            <!--<li>
                <a href="#"><b>Links</b><i class="fas fa-caret-down"></i></a>
                <div class="dropdown_menu">
                    <ul>
                        <li><a href="python"><b>python</b></a></li>
                        <li><a href="html"><b>html</b></a></li>
                        <li><a href="#"><b>course</b><i class="fas fa-caret-right"></i></a>
                            <div class="dropdown_menu-1">
                                <ul>
                                    <li><a href="team1"><b>team1</b></a></li>
                                    <li><a href="team2"><b>team2</b></a></li>
                                    <li><a href="team3"><b>team-3</b></a></li>
                                    <li><a href="team4"><b>team-4</b></a></li>

                                </ul>


                            </div>


                        </li>
                        <li><a href="java">java</a></li>
                    </ul>

            </li>-->
                <div class="search">
                <input class="srch" type="search" name="" placeholder="Type to text">
                <a href="#"> <button class="btn"><b>Search</b></button></a>
                </div>
        </ul>
        <!--<div>
            <ul>
                <li><a href="userformpostredirect"><h3>userformpostredirect</h3></a></li>
                <li><a href="userformpostaction"><h3>userformpostaction</h3></a></li>
                <li><a href="djangoform"><h3>djangoform</h3></a></li>
                
                <li><a href="calculator"><h3>calculator</h3></a></li>
                <li><a href="formfordatabase"><h3>formfordatabases</h3></a></li>
            </ul>
        </div>-->
    </nav>
    
</body>
</html>
<!--end header area--> 