<!-- start header area-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"  >
    <title></title>
</head>
<body>
    <div class="main">
        <div class="icon">                
            <h2 class="logo" >NewOne</h2>
        </div>
        <div class="navbar">          
            <div class="menu">
                <ul>
                    <li><a href="/"><h3>Home</h3></a></li>
                    <li><a href="about"><h3>about</h3></a></li>
                    <li><a href="service"><h3>service</h3></a></li>
                    <li><a href="career"><h3>career</h3></a></li>
                    <li><a href="contact"><h3>contact</h3></a></li>
                    <li><a href="userformget"><h3>userformget</h3></a></li>
                    
                        <div class="search">
                        <input class="srch" type="search" name="" placeholder="Type to text">
                        <a href="#"> <button class="btn"><b>Search</b></button></a>
                        </div>
                </ul>  
                <ul >
                    <li><a href="userformpostredirect"><h3>userformpostredirect</h3></a></li>
                    <li><a href="userformpostaction"><h3>userformpostaction</h3></a></li>
                    <li><a href="djangoform"><h3>djangoform</h3></a></li>
                    
                    <li><a href="calculator"><h3>calculator</h3></a></li>
                    <li><a href="formfordatabase"><h3>formfordatabases</h3></a></li>
                </ul>            
            </div>
        </div>

    </div>
    
</body>
</html>   
<!--end header area-->   