<!doctyoe html>
<html lang="en>
<head>
    <meta charset="utf-8">
    <tittle style="background-color:skyblue;">
        beautifull and simple website using html only-- fullyworld website
    </title>
</head>
<body background='D:\antll django project\alcohol\static\1.jpg'>
    <br />
    <h3 align="left" >
        <font face="lato" size="6">first page</font>
       
        <div class ="collapse navbar-collapse justify-content-end al:">
            <ul class="navbar-nav">
                <li><a href="#home">home</a></li>
                <li><a href="about">about</a></li>
                <li><a href="service">service</a></li>
                <!--<li><a href="#gallery">gallery</a></li>-->
                <li><a href="#contact">contact</a></li>
                <li data-toggle="modal" data-target="#examplemodal"></li>
                <!--dropdown-->
            </ul>
        </div>
    </h3>    
</body>
</html>