<html>
    <title>USERGget method</title>
    <H>userform</h>
        <body>

                    <form method="get">
                        <div>
                            <label1 for ="">value1</label>
                            <input type="text" name="num1" class="form-control"/>
                        </div>
                        <div>
                            <label2 for ="">value2</label>
                            <input type="text" name="num2" class="form-control"/>
                        <div>
                        <div class="pt-4">
                            <button type="submit">save</button>
                        </div>
                        <div>
                        output
                        <input type="text" value={{output}} />
                        </div>
                    </form>
              
                    

        </body>

</html>
